DB_USER=ExampleUser
DB_PASSWORD=ExamplePassword
DB_NAME=satship_db

# In case of using VM decomment it and replace x with VM ip adress
#CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://x.x.x.x:3000
#BACKEND_API_URL=http://x.x.x.x:8000